[Unit]
Description = Yodo Price Watcher Deamon

[Install]
WantedBy = multi-user.target

[Service]
WorkingDirectory= /home/pi/bin/yodo_price
ExecStart=/home/pi/bin/yodo_price/venv/bin/python3 /home/pi/bin/yodo_price/main.py
Restart=always
StandardOutput=syslog
StandardError=syslog

